{% extends 'base.html'%}
{% block content%}

{% load cart %}
<!-- Products -->
<!-- <h1>Hello, world!</h1> -->

<!-- {% if nothing %}
<h3>
  <button class="btn-primary">{{nothing}}</button>
</h3>
{% endif%} -->

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-2 mx-auto">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">All Products</a>
        {% for i in categories %}
        <a href="/?category={{i.id}}" class="list-group-item list-group-item-action">{{i.name}}</a>
        {% endfor %}
      </div>

    </div>


    <!-- all products -->
    <div id='products' class="col-lg-9 mx-auto">
      <div class="row mx-auto">
        <div>
          {% if products %}
          {%else%}
        
          <button type="button" class="btn btn btn-danger"><h2>{{nothing}}</h2></button>
        
        {% endif%}
        </div>
        {% for product in products %}
        
        <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
          <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-title">{{product.name}}</p>
            <p class="card-text"><b>{{product.price}}</b></p>
            <a href="product/{{product.id}}/" style="text-decoration: none;color:#03192c;">View More</a>
            <!-- {{product | is_in_cart:request.session.cart }} -->
          </div>
          <div class="row no-gutters">
            <form action="/" method="POST" class="btn-block col-12" >
              
              {% if product|is_in_cart:request.session.favourite %}
              {% csrf_token %}
              <input  type="text" hidden name='fav' value='{{product.id}}'>
              <input  type="text" hidden name='remove1' value='True'>
              <input type="submit" class="float-right btn btn-light  form-control" value="Remove From Favourite">
              {%else%}
              {% csrf_token %}
              <input hidden type="text" name='fav' value='{{product.id}}'>
              <input  type="text" hidden name='added' value='True'>
              <input type="submit" class="float-right btn btn-light  form-control" value="Add To Favourite">
              {%endif%}
            </form>
          </div>

        <!---------------------------------------------------------------------------------------  -->
          <!-- {{request.session.cart}} -->
          

        <!---------------------------------------------------------------------------------------  -->


          
          <!-- add to database cart -->
          {% if customer%}
          {% if customer%}
          {%if product.id in pro_list%}
          
          <div class="card-footer p-0 no-gutters">
          <div class="row no-gutters">
           <form action="" method="POST" class="col-2">
            {%csrf_token%}
            <input type="text" name="rem" value="{{product.id}}" hidden>
            <input type="submit" class="float-right btn btn-light  form-control" value="-">
           </form>
            <div class="text-center col text-align">{{product.id|database_quantity:pro_list}} in Cart</div>
            <form action="" method="POST" class="col-2">
              {%csrf_token%}
            <input type="text" name="product" value="{{product.id}}" hidden>
            <input type="submit" class="float-right btn btn-light  form-control" value="+">
           </form>
          </div>
          </div>
          
          {%else%}
          <!-- <div> -->
            <form action="/" method="POST" class="btn-block" style="width:285px;margin-left: -10px;">
              {% csrf_token %}
              <input  type="text" name='product' value='{{product.id}}' hidden>
              <input  type="text" name='quantity' value=1 hidden>
              <input  type="text" name='cart' value={{i}} hidden>
              
              <input type="submit" class="float-right btn btn-light  form-control" value="Add To DB Cart">
              {%endif%}
            </form>
          <!-- </div> -->
          
          {% endif%}

          {% else%}
          <div class="row no-gutters">
            <form action="/" method="POST" class="btn-block">
              {% if customer%}
              {% if product|is_in_cart:request.session.favourite %}
              {% csrf_token %}
              <input  type="text" hidden name='fav' value='{{product.id}}'>
              <input  type="text" hidden name='remove1' value='True'>
              <input type="submit" class="float-right btn btn-light  form-control" value="Remove From Favourite">
              {%else%}
              {% csrf_token %}
              <input hidden type="text" name='fav' value='{{product.id}}'>
              <input  type="text" hidden name='added' value='True'>
              <input type="submit" class="float-right btn btn-light  form-control" value="Add To Favourite">
              {%endif%}
              {%endif%}

            </form>
          </div>
          <div class="card-footer p-0 no-gutters">
            
            {% if product|is_in_cart:request.session.cart %}
            <div class="row no-gutters">
              <form action="/" class="col-2 " method="post">
                {% csrf_token %}
                <input  type="text" hidden name='product' value='{{product.id}}'>
                <input  type="text" hidden name='remove' value='True'>
                <input type="submit" value=" - " class="btn btn-block btn-secondary  border-right">
              </form>
              <div class="text-center col text-align">{{product|cart_quantity:request.session.cart}} in Cart</div>
              <form action="/#{{product.id}}" class="col-2 " method="post">
                {% csrf_token %}
                <input hidden type="text" name='product' value='{{product.id}}'>
                <input type="submit" value=" + " class="btn btn-block btn-secondary border-left">
              </form>
            </div>
            
            {% else %}
            <form action="/" method="POST" class="btn-block">
              {% csrf_token %}
              <input  type="text" hidden name='product' value='{{product.id}}'>
              <input type="submit" class="float-right btn btn-light  form-control" value="Add To Cart">
            </form>
            {% endif %}

          </div>
          {% endif%}
        </div>
        
        {% endfor %}
      </div>
    </div>



  </div>
</div>
{% endblock%}